<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<script async src="https://telegram.org/js/telegram-widget.js?21"
        data-telegram-login="login_telegram_bot" data-size="large"
        data-radius="5" data-auth-url="https://1375-31-148-167-44.eu.ngrok.io/home/login"
        data-request-access="write">
</script>
</body>
</html>